.connection {

    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    .container-connection {
        display: flex;
        justify-content: center;
        box-shadow: 3px 5px 25px #18181d45;
        border-radius: 25px;

        .box-left {
            width: 680px;
            padding: 65px;
            border-bottom-left-radius: 25px;
            border-top-left-radius: 25px;
            background-color: #206ad9;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;

            i {
                margin-bottom: 18px;
                color: #fff;
            }

            .title {
                h1 {
                    font-family: 'Expletus Sans', sans-serif;
                    font-size: 3.5rem;
                    margin-bottom: 18px;
                    color: #fff;
                    cursor: pointer;
                    transition: all 0.25s;

                    &:hover {
                        transform: scale(0.96);
                    }
                }

                p {
                    margin: 8px;
                    color: #e2e2e1;
                    font-size: 20px;
                }
            }
        }

        .box-right {
            width: 680px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding: 65px;
            background-color: #fff;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            h2 {
                margin: 18px;
                font-size: 2rem;
                color: #121212da;
            }

            .cards {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 7px;
                gap: 20px;
                margin: 25px;

                .paciente {
                    gap: 20px;
                    border: 2px solid #cccccca2;
                    border-radius: 18px;
                    padding: 20px 40px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    &:hover {
                        border: 2px solid #206ad9;
                        background-color: #206ad91f;
                    }

                    .icon-right {
                        background-color: #206ad92e;
                        padding: 14px 15px;
                        border-radius: 100%;

                        i {
                            color: #206ad9;
                        }
                    }

                    .infos {
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .quem-sou {
                            h3 {
                                color: #121212cd;
                            }

                            p {
                                color: #12121286;
                                font-weight: 600;
                            }
                        }

                        .ir {
                            i {
                                color: #1212126f;
                            }
                        }
                    }
                }

                .medico {
                    gap: 20px;
                    border: 2px solid #cccccca2;
                    border-radius: 18px;
                    padding: 20px 40px;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    text-align: center;

                    &:hover {
                        border: 2px solid #20d973;
                        background-color: #20d94b1e;
                    }

                    .icon-right {
                        background-color: #20d94528;
                        padding: 14px 15px;
                        border-radius: 100%;

                        i {
                            color: #20d945;
                        }
                    }

                    .infos {
                        padding: 8px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 20px;

                        .quem-sou {


                            h3 {
                                color: #121212cd;
                            }

                            p {
                                color: #12121286;
                                font-weight: 600;
                            }
                        }

                        .ir {
                            i {
                                color: #1212126f;
                            }
                        }
                    }
                }
            }
        }
    }
}